@if(!href)
  <button
    class="{{ 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-8 rounded justify-self-end ' + classe || '' }}"
  >
    Carrinho
</button>
@else
  <a
    href="{{ route(href) }}"
    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-4 rounded justify-self-end"
  >
    {{ info }}
</a>
@endif
