@layouts.app()
  <div class="bg-primary-color flex">
    <aside id="scroll" class="w-48">
      @!component('components/filters/filterbar')
    </aside>
    <div class="p-2 grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-5 w-full overflow-y-auto">
      @each(casei in cases)
        <a href="{{ route('cases.show', { id: casei.id }) }}">
          @!component('components/card', { product: casei })
        </a>
      @end
    </div>
  </div>
@end
