<!DOCTYPE html>
<html>
  <head>
    <title>
      Chicken Skins
    </title>
    @vite(['resources/js/app.js', 'resources/css/app.css'])

  </head>
  <body class="h-screen bg-primary-color">
    <section class="h-full flex flex-col antialiased bg-primary-color">
      @include('components/layouts/partials/header')

      <div class="flex-grow">
        {{{ await $slots.main() }}}
      </div>
    </section>
    <script src="/resources/js/addCart.js">
      
    </script>
    <script src="/resources/js/removeCart.js">
      
    </script>
  </body>
</html>
