@layouts.app()
  <div class="bg-primary-color">
    <div class="p-2 grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-5">
      @each(skin in skins)
        @!component('components/card', { skin })
      @end
    </div>
  </div>
@end
